In [ ]:
from report_bot import delete_files_from, create_gdrive_folders, deliver_master_reports, send_message_by_group, get_contacts_from_json
from dataframe import build_sales_orders_df, build_master_df, get_sales_lines_df, calculate_master_df, add_sales_teams_on_sellers_df, add_sellers_on_sales_df
import pandas as pd
delete_files_from('database/out')
current_folders_id = create_gdrive_folders()
contacts = get_contacts_from_json('messages/contacts.json')
sales_lines_df = get_sales_lines_df()
sales_orders_df = build_sales_orders_df(sales_lines_df)     
master_sales_teams_df = pd.DataFrame()
master_sellers_df = pd.DataFrame()
master_df = pd.DataFrame()
master_df = calculate_master_df(sales_orders_df)
master_sellers_df = add_sellers_on_sales_df(master_df)
master_sales_teams_df = add_sales_teams_on_sellers_df(master_sellers_df)

In [ ]:
from dataframe import get_customer_details_df
df = get_customer_details_df()

In [ ]:
from report_bot import create_gdrive_folders
from messages.messages import get_contacts_from_json, send_message_by_group
current_folders_id = create_gdrive_folders()
contacts = get_contacts_from_json('messages/contacts.json')

In [ ]:
send_message_by_group(
    template_name='account',
    group='test',
    message_dict={
        'subject': 'Relatórios Financeiros Diários',
        'gdrive_folder_id': current_folders_id['account'],
    },
    contacts=contacts,
)

In [ ]:
import zlib

original_data = open('../data/out/faturamento_geral.xlsx', 'rb').read()
compressed_data = zlib.compress(original_data, zlib.Z_BEST_COMPRESSION)

compress_ratio = (float(len(original_data)) - float(len(compressed_data))) / float(len(original_data))

print('Compressed: %d%%' % (100.0 * compress_ratio))

In [3]:
from dataframe import build_sales_orders_df, get_sales_lines_df, get_customer_details_df
sales_line_df = get_sales_lines_df()
orders_df = build_sales_orders_df(sales_line_df)
customer_df = get_customer_details_df()

2023-09-11 14:10:56 - [dataframe] [INFO]: Calling get_sales_lines_df
2023-09-11 14:10:56 - [database] [INFO]: Calling get_vw_sales_lines
2023-09-11 14:10:56 - [database] [INFO]: Calling get_dataframe_from_sql_query
2023-09-11 14:10:56 - [database] [INFO]: Calling create_and_connect_engine
2023-09-11 14:10:56 - [database] [INFO]: Finished Calling create_and_connect_engine
2023-09-11 14:10:56 - [database] [INFO]: Execution of create_and_connect_engine took 0.020.
2023-09-11 14:11:50 - [database] [INFO]: Finished Calling get_dataframe_from_sql_query
2023-09-11 14:11:50 - [database] [INFO]: Execution of get_dataframe_from_sql_query took 53.330.
2023-09-11 14:11:50 - [database] [INFO]: Finished Calling get_vw_sales_lines
2023-09-11 14:11:50 - [database] [INFO]: Execution of get_vw_sales_lines took 53.333.
2023-09-11 14:11:50 - [dataframe] [INFO]: Finished Calling get_sales_lines_df
2023-09-11 14:11:50 - [dataframe] [INFO]: Execution of get_sales_lines_df took 53.336.
2023-09-11 14:11:50 - [dataframe] [INFO]: Calling build_sales_orders_df
2023-09-11 14:11:51 - [dataframe] [INFO]: Finished Calling build_sales_orders_df
2023-09-11 14:11:51 - [dataframe] [INFO]: Execution of build_sales_orders_df took 0.850.
2023-09-11 14:11:51 - [dataframe] [INFO]: Calling get_customer_details_df
2023-09-11 14:11:51 - [database] [INFO]: Calling get_vw_customer_details
2023-09-11 14:11:51 - [database] [INFO]: Calling get_dataframe_from_sql_query
2023-09-11 14:11:51 - [database] [INFO]: Calling create_and_connect_engine
2023-09-11 14:11:51 - [database] [INFO]: Finished Calling create_and_connect_engine
2023-09-11 14:11:51 - [database] [INFO]: Execution of create_and_connect_engine took 0.021.
2023-09-11 14:12:01 - [database] [INFO]: Finished Calling get_dataframe_from_sql_query
2023-09-11 14:12:01 - [database] [INFO]: Execution of get_dataframe_from_sql_query took 10.515.
2023-09-11 14:12:01 - [database] [INFO]: Finished Calling get_vw_customer_details
2023-09-11 14:12:01 - [database] [INFO]: Execution of get_vw_customer_details took 10.518.
2023-09-11 14:12:01 - [dataframe] [INFO]: Finished Calling get_customer_details_df
2023-09-11 14:12:01 - [dataframe] [INFO]: Execution of get_customer_details_df took 10.521.

In [10]:
sales_line_df.head()

,ano,mes,empresa_pedido,empresa_nota_fiscal,cod_cliente,cod_colaborador,nome_colaborador,equipe,cod_pedido,nr_ped_compra_cli,...,margem_bruta,preco_total,preco_desconto_rateado,vl_total_pedido,desconto_pedido,valor_nota,total_bruto,dt_implante_pedido,dt_entrega_comprometida,dt_faturamento
0,2022,1,5,5,27388,330,NEWHAIRPRO,0,34120,5149901967,...,-100.00,0.0,0.0,189.9,0.0,189.9,189.9,2022-01-01 15:03:27,2022-01-08 14:52:27,2022-01-01
1,2022,1,5,5,27388,330,NEWHAIRPRO,0,34120,5149901967,...,-100.00,0.0,0.0,189.9,0.0,189.9,189.9,2022-01-01 15:03:27,2022-01-08 14:52:27,2022-01-01
2,2022,1,5,5,27388,330,NEWHAIRPRO,0,34120,5149901967,...,990.13,189.9,189.9,189.9,0.0,189.9,189.9,2022-01-01 15:03:27,2022-01-08 14:52:27,2022-01-01
3,2022,1,5,5,27396,330,NEWHAIRPRO,0,34121,5150093674,...,534.33,110.5,110.5,110.5,0.0,110.5,110.5,2022-01-01 17:43:23,2022-01-08 17:37:03,2022-01-01
4,2022,1,5,5,27410,330,NEWHAIRPRO,0,34122,5150279515,...,-100.00,0.0,0.0,179.9,0.0,179.9,179.9,2022-01-01 19:53:23,2022-01-08 19:43:25,2022-01-01